<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<true/>
				<key>defaults</key>
				<string>fun.tylerd3v.modernize</string>
				<key>key</key>
				<string>kRespring</string>
				<key>label</key>
				<string>Respring Button</string>
				<key>PostNotification</key>
				<string>fun.tylerd3v.modernize/updated</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkListCell</string>
				<key>default</key>
				<integer>0</integer>
				<key>defaults</key>
				<string>fun.tylerd3v.modernize</string>
				<key>key</key>
				<string>kRespringBG</string>
				<key>label</key>
				<string>Background Colour</string>
				<key>detail</key>
				<string>PSListItemsController</string>
				<key>validValues</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>3</integer>
					<integer>4</integer>
					<integer>5</integer>
					<integer>6</integer>
				</array>
				<key>validTitles</key>
				<array>
					<string>Blue</string>
					<string>Green</string>
					<string>Orange</string>
					<string>Purple</string>
					<string>Red</string>
					<string>Teal</string>
					<string>Yellow</string>
				</array>
				<key>PostNotification</key>
				<string>fun.tylerd3v.modernize/updated</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<true/>
				<key>defaults</key>
				<string>fun.tylerd3v.modernize</string>
				<key>key</key>
				<string>kReboot</string>
				<key>label</key>
				<string>Reboot Button</string>
				<key>PostNotification</key>
				<string>fun.tylerd3v.modernize/updated</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkListCell</string>
				<key>default</key>
				<integer>2</integer>
				<key>defaults</key>
				<string>fun.tylerd3v.modernize</string>
				<key>key</key>
				<string>kRebootBG</string>
				<key>label</key>
				<string>Background Colour</string>
				<key>detail</key>
				<string>PSListItemsController</string>
				<key>validValues</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>3</integer>
					<integer>4</integer>
					<integer>5</integer>
					<integer>6</integer>
				</array>
				<key>validTitles</key>
				<array>
					<string>Blue</string>
					<string>Green</string>
					<string>Orange</string>
					<string>Purple</string>
					<string>Red</string>
					<string>Teal</string>
					<string>Yellow</string>
				</array>
				<key>PostNotification</key>
				<string>fun.tylerd3v.modernize/updated</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<true/>
				<key>defaults</key>
				<string>fun.tylerd3v.modernize</string>
				<key>key</key>
				<string>kSafeMode</string>
				<key>label</key>
				<string>Safe Mode Button</string>
				<key>PostNotification</key>
				<string>fun.tylerd3v.modernize/updated</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkListCell</string>
				<key>default</key>
				<integer>6</integer>
				<key>defaults</key>
				<string>fun.tylerd3v.modernize</string>
				<key>key</key>
				<string>kSafeModeBG</string>
				<key>label</key>
				<string>Background Colour</string>
				<key>detail</key>
				<string>PSListItemsController</string>
				<key>validValues</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>3</integer>
					<integer>4</integer>
					<integer>5</integer>
					<integer>6</integer>
				</array>
				<key>validTitles</key>
				<array>
					<string>Blue</string>
					<string>Green</string>
					<string>Orange</string>
					<string>Purple</string>
					<string>Red</string>
					<string>Teal</string>
					<string>Yellow</string>
				</array>
				<key>PostNotification</key>
				<string>fun.tylerd3v.modernize/updated</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>fun.tylerd3v.modernize</string>
				<key>key</key>
				<string>kSafeSD</string>
				<key>label</key>
				<string>SafeShutdown Button</string>
				<key>PostNotification</key>
				<string>fun.tylerd3v.modernize/updated</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkListCell</string>
				<key>default</key>
				<integer>1</integer>
				<key>defaults</key>
				<string>fun.tylerd3v.modernize</string>
				<key>key</key>
				<string>kSafeSDBG</string>
				<key>label</key>
				<string>Background Colour</string>
				<key>detail</key>
				<string>PSListItemsController</string>
				<key>validValues</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>3</integer>
					<integer>4</integer>
					<integer>5</integer>
					<integer>6</integer>
				</array>
				<key>validTitles</key>
				<array>
					<string>Blue</string>
					<string>Green</string>
					<string>Orange</string>
					<string>Purple</string>
					<string>Red</string>
					<string>Teal</string>
					<string>Yellow</string>
				</array>
				<key>PostNotification</key>
				<string>fun.tylerd3v.modernize/updated</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<true/>
				<key>defaults</key>
				<string>fun.tylerd3v.modernize</string>
				<key>key</key>
				<string>kShutDown</string>
				<key>label</key>
				<string>Shut Down Button</string>
				<key>PostNotification</key>
				<string>fun.tylerd3v.modernize/updated</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkListCell</string>
				<key>default</key>
				<integer>4</integer>
				<key>defaults</key>
				<string>fun.tylerd3v.modernize</string>
				<key>key</key>
				<string>kShutDownBG</string>
				<key>label</key>
				<string>Background Colour</string>
				<key>detail</key>
				<string>PSListItemsController</string>
				<key>validValues</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>3</integer>
					<integer>4</integer>
					<integer>5</integer>
					<integer>6</integer>
				</array>
				<key>validTitles</key>
				<array>
					<string>Blue</string>
					<string>Green</string>
					<string>Orange</string>
					<string>Purple</string>
					<string>Red</string>
					<string>Teal</string>
					<string>Yellow</string>
				</array>
				<key>PostNotification</key>
				<string>fun.tylerd3v.modernize/updated</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<true/>
				<key>defaults</key>
				<string>fun.tylerd3v.modernize</string>
				<key>key</key>
				<string>kCancel</string>
				<key>enabled</key>
				<false/>
				<key>label</key>
				<string>Cancel Button</string>
				<key>PostNotification</key>
				<string>fun.tylerd3v.modernize/updated</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkListCell</string>
				<key>default</key>
				<integer>3</integer>
				<key>defaults</key>
				<string>fun.tylerd3v.modernize</string>
				<key>key</key>
				<string>kCancelBG</string>
				<key>label</key>
				<string>Background Colour</string>
				<key>detail</key>
				<string>PSListItemsController</string>
				<key>validValues</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>3</integer>
					<integer>4</integer>
					<integer>5</integer>
					<integer>6</integer>
				</array>
				<key>validTitles</key>
				<array>
					<string>Blue</string>
					<string>Green</string>
					<string>Orange</string>
					<string>Purple</string>
					<string>Red</string>
					<string>Teal</string>
					<string>Yellow</string>
				</array>
				<key>PostNotification</key>
				<string>fun.tylerd3v.modernize/updated</string>
			</dict>
		</array>
		<key>title</key>
		<string>Customize Buttons</string>
	</dict>
</plist>