<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>fun.tylerd3v.modernize</string>
				<key>key</key>
				<string>kEnablePM</string>
				<key>label</key>
				<string>Enabled</string>
				<key>PostNotification</key>
				<string>fun.tylerd3v.modernize/updated</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<true/>
				<key>defaults</key>
				<string>fun.tylerd3v.modernize</string>
				<key>key</key>
				<string>kAnimate</string>
				<key>label</key>
				<string>Animations</string>
				<key>PostNotification</key>
				<string>fun.tylerd3v.modernize/updated</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkListCell</string>
				<key>default</key>
				<integer>1</integer>
				<key>defaults</key>
				<string>fun.tylerd3v.modernize</string>
				<key>key</key>
				<string>kAnimation</string>
				<key>label</key>
				<string>Choose Animation</string>
				<key>detail</key>
				<string>PSListItemsController</string>
				<key>validValues</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>validTitles</key>
				<array>
					<string>Bounce</string>
					<string>Fade</string>
					<string>Zoom</string>
				</array>
				<key>PostNotification</key>
				<string>fun.tylerd3v.modernize/updated</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>fun.tylerd3v.modernize</string>
				<key>key</key>
				<string>kDarkMode</string>
				<key>label</key>
				<string>Dark Mode</string>
				<key>PostNotification</key>
				<string>fun.tylerd3v.modernize/updated</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkListCell</string>
				<key>default</key>
				<integer>0</integer>
				<key>defaults</key>
				<string>fun.tylerd3v.modernize</string>
				<key>key</key>
				<string>kBlurStyle</string>
				<key>label</key>
				<string>Blur Style</string>
				<key>detail</key>
				<string>PSListItemsController</string>
				<key>validValues</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>validTitles</key>
				<array>
					<string>Dark</string>
					<string>Extra Light</string>
					<string>Light</string>
				</array>
				<key>PostNotification</key>
				<string>fun.tylerd3v.modernize/updated</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>detail</key>
				<string>MDPowerButtons</string>
				<key>isController</key>
				<true/>
				<key>label</key>
				<string>Customize Buttons</string>
			</dict>
		</array>
		<key>title</key>
		<string>Power Menu</string>
	</dict>
</plist>