<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>headerCellClass</key>
				<string>HBImageTableCell</string>
				<key>height</key>
				<integer>400</integer>
				<key>icon</key>
				<string>banner.png</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>detail</key>
				<string>MDPowerMenu</string>
				<key>isController</key>
				<true/>
				<key>label</key>
				<string>Power Menu</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>detail</key>
				<string>MDSpringBoard</string>
				<key>isController</key>
				<true/>
				<key>label</key>
				<string>SpringBoard</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>detail</key>
				<string>MDVolumeHUD</string>
				<key>isController</key>
				<true/>
				<key>label</key>
				<string>Volume HUD</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>detail</key>
				<string>MDSpecialThanks</string>
				<key>isController</key>
				<true/>
				<key>label</key>
				<string>Special Thanks</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>
			<dict>
				<key>big</key>
				<true/>
				<key>cellClass</key>
				<string>HBTwitterCell</string>
				<key>label</key>
				<string>Tyler</string>
				<key>user</key>
				<string>TylerD3V</string>
			</dict>
		</array>
		<key>title</key>
		<string>Modernize</string>
	</dict>
</plist>