<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>fun.tylerd3v.modernize</string>
				<key>key</key>
				<string>kEnableSB</string>
				<key>label</key>
				<string>Enabled</string>
				<key>PostNotification</key>
				<string>fun.tylerd3v.modernize/updatedsb</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>fun.tylerd3v.modernize</string>
				<key>key</key>
				<string>kNoTodayHS</string>
				<key>label</key>
				<string>Hide HS Today View</string>
				<key>PostNotification</key>
				<string>fun.tylerd3v.modernize/updatedsb</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>fun.tylerd3v.modernize</string>
				<key>key</key>
				<string>kNoTodayLS</string>
				<key>label</key>
				<string>Hide LS Today View</string>
				<key>PostNotification</key>
				<string>fun.tylerd3v.modernize/updatedsb</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>fun.tylerd3v.modernize</string>
				<key>key</key>
				<string>kQuickActions</string>
				<key>label</key>
				<string>Show LS Quick Actions</string>
				<key>PostNotification</key>
				<string>fun.tylerd3v.modernize/updatedsb</string>
			</dict>
		</array>
		<key>title</key>
		<string>SpringBoard</string>
	</dict>
</plist>